@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

*{
    font-family: 'Inconsolata';
}

.logo_sobre {
    position: absolute;
    left: 80px;
    top: 80px;
}